.header{
  width: 100%;
  height: 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0px 0 5px 0px black;
}

.header .header_a{
  font-weight: 600;
  color: #343a40;
  text-decoration: none;
  cursor: pointer;

}

.header .header_items{
  width: 40%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-weight: 600;
  color: #343a40;
  cursor: pointer;

}

.section{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.section .section_h1{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 56px;
}

.section .section_p{
  width: 40%;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
  height: 90px;
  color:rgb(33, 37, 41); ;
}

.section .section_box_wrapper{
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.section #section_card{
  width: 290px;
  height: 327px;
  display: flex;
  flex-direction: column;
}

.section #section_card_name{
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 400;
}

.section #section_card_moth{
  font-size: 40px;
  font-weight: 500;
  height: 48px;
}

.section #section_card_item_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.section #section_card_p{
  width: 70%;
}

.section #sectiion_card_btn{
  width: 80%;
  background-color:  #dee2e6;
  color: rgb(0, 105, 217);
}

.section #sectiion_card_btn:hover{
  background-color: rgb(0, 105, 217);
  color: white;
}

.section #sectiion_card_btn2{
  width: 80%;
}

footer img{
  width: 24px;
  height: 24px;
}

footer{
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  justify-content: space-between;
padding: 50px 0px;}

footer li{
  list-style-type: none;
  color: rgb(108, 117, 125)
}

footer li:hover{
  cursor: pointer;
}